.product
{
    width: 420px;
}

/* elimina el borde cuando el elemento del formulario toma el foco */

input:focus,
textarea:focus
{
    outline:none;
}

/* cambia el color del borde si el valor del campo es incorrecto, mediante ng-dirty se indica que esto lo ha de hacer cuando el usuario esté introduciendo información */

.ng-invalid.ng-dirty
{
    border-color: #fa787e;
}

.ng-valid.ng-dirty
{
    border-color: #78fa89;
}